<div class="barra-herramientas">


    <button (click)="redireccionar_Registro_Area()">  <i class="bi bi-clipboard2"></i>  </button>
   
    
    <button (click)="redireccionar_Analisis_IA()">  <i class="bi bi-search"></i></button> 

    <button (click)="redireccionar_dashboard()"> <i class="bi bi-house"></i></button> 

    <button (click)="redireccionar_Reportes()"> <i class="bi bi-card-heading"></i></button> 

     <button (click)="redireccionarDescargas()">  <i class="bi bi-download"></i></button> 
</div>