.barra-herramientas{
    width: 85%;
    margin: 0 auto;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

button{

    width: 20%;
    border-radius: 50px;

    padding: 1px;

    margin: auto;

    border: none;
    box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.1);
    
}

button:hover  {
    transition: 0.5s ease;
    background-color: var(--verde-oscuro);
    color: var(--blanco);
}

i{

    
    font-size: 45px;
    color: rgb(0, 0, 0);    
}