main {
    height: 105vh;
    width: 100%;

}


#container-analisis-ia {

    height: 90vh;
    width: 85%;
    background-color: rgb(227, 232, 232);
    margin: 2% auto;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    border-radius: 20px;
    box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.1);

}

#titulo {

    grid-column: 1/3;
    grid-row: 1/1;


    display: flex;
    align-items: center;
    padding: 2%;

    h1 {
        font-size: 4rem;
        font-weight: bold;
        color: var(--azul-principal);
    }

}

#busqueda {


    grid-column: 3/4;
    grid-row: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;

}

#container-analisis-ia form {

    grid-column: 1/3;
    grid-row: 2/6;
    border: 3px solid rgb(172, 171, 171);
    border-radius: 10px;

    padding: 5%;

}

#resultadoIA {
    grid-column: 3/5;
    grid-row: 2/6;
    border: 3px solid rgb(172, 171, 171);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}

#respuesta {

    height: 95%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(144, 144, 145);
    overflow-y: auto;
    padding: 2%;

}