<section id="presentacion">

    <aside>

        <h1>TRANSFORMAMOS LA SEGURIDAD LABORAL DE BI SU EMPRESA</h1>
        <h2>Gestion Corporativa Ingtegral para un Entorno Seguro y Productivo</h2>

        <button type="button" class="btn btn-success" id="sistema-btn"> Conocer más de GECOSST</button>

    </aside>

    <aside id="aside-imagen">

    </aside>

</section>
<!----------------------------------------------------------------------------->
<!--¿Quienes somos?-->
<section id="que-es-gecosst">

    <h1>¿QUIENES SOMOS GECOSST?</h1>
    <p>Somos una empresa líder en el mercado de la seguridad laboral, dedicada a ofrecer soluciones innovadoras y
        eficientes para la gestión integral de la seguridad y salud en el trabajo.</p>

    <button type="button" class="btn btn-success"> Conocer más de Nosotros</button>


</section>

<!----------------------------------------------------------------------------->

<!--Nuestros aliados-->

<section id="empresas-aliadas">

    <h1>NUESTROS ALIADOS</h1>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/Alianza_1.png" class="d-block w-100 estandar-img-alianza" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/Alianza_2.png" class="d-block w-100 estandar-img-alianza" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/Alianza_3.png" class="d-block w-100 estandar-img-alianza" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<!----------------------------------------------------------------------------->

<!--Features-->

<section id="features">

    <h1> Caracteristicas de nuestro software</h1>

    <div class="card card-1">
        <div class="icon">

        </div>

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat."</p>
    </div>
    <div class="card card-2">
        <div class="icon">

        </div>

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat."</p>
    </div>
    <div class="card card-3">
        <div class="icon">

        </div>

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat."</p>
    </div>
    <div class="card card-4">
        <div class="icon">

        </div>

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat."</p>
    </div>
    <div class="card card-5">
        <div class="icon">

        </div>

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat."</p>
    </div>

</section>

<!------------------------------------------------------------------------------------->
<!--¿Por que escoger GECOSST?-->

<section id="por-que-gecosst">

    <div id="testimonios">

        <h2> Testimonios de nuestros clientes</h2>

        <div class="scroll-testimonios">

            <div class="testimonio">

                <h4>
                    Felcitaciones
                </h4>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat."</p>


            </div>

            <div class="testimonio">

                <h4>
                    Felcitaciones
                </h4>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat."</p>


            </div>

            <div class="testimonio">

                <h4>
                    Felcitaciones
                </h4>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat."</p>


            </div>


        </div>

    </div>

    <div id="servicios-principales">

        <h2>NUESTROS SERVICIOS PRINCIPALES</h2>
        <div id="servicios">

            <div class="servicio">

                <div class="container-label">

                    <div class="icon">

                        <img class="estandar-img-icon" src="/img_icons/warning_green.png" alt="" srcset="">

                    </div>
                    <label for="">Gestion Del Riesgo</label>

                </div>


                <p>Gestion de riesgos, con un producto
                    o medicion laboral en su empresa</p>
            </div>

            <div class="servicio">

                <div class="container-label">

                    <div class="icon">

                        <img class="estandar-img-icon" src="/img_icons/bierrete_amarillo.png" alt="" srcset="">
                    </div>
                    <label for="">Capacitaciones Especializadas</label>

                </div>


                <p> Capacitaciones especializadas con
                    enotrno compartidos</p>
            </div>
            <div class="servicio">

                <div class="container-label">

                    <div class="icon">

                        <img class="estandar-img-icon" src="/img_icons/estadistica.png" alt="" srcset="">
                    </div>
                    <label for="">Seguimineto y Reportes</label>

                </div>


                <p> Seguimientos y reportes, en seguridad
                    y salud en su empres.</p>
            </div>

        </div>
    </div>

    <div id="por-que-escogernos">

        <h1>¿Por que escoger GECOSST?</h1>

        <div id="experiencia">
            <aside>

                <img src="/img_icons/chek_azul.png" alt="" srcset="" style="width: 5vw ; height: 10vh;">


            </aside>
            <div>
                <h3> Experiencia comprobada</h3>

                <p> Experiencia comprobada estadistica y
                    compranias en tecnicos como seguridad
                    laborales en su empresa
                </p>

            </div>

            <div>

                <p>60% <br>
                    De Cumplimiento Normativo
                </p>

            </div>
            <div>

                <p>63% <br>
                    De experiencia comprobada
                </p>

            </div>

        </div>

        <div id="tecnologia">

            <aside>

                <img src="/img_icons/chec_verde.png" alt="" srcset="" style="width: 5vw ; height: 10vh;">

            </aside>
            <div>
                <h3> Experiencia comprobada</h3>

                <p> Tecnologia avanzada con beneficios ,
                    sin autonociones y contratamiento beneficos
                </p>

            </div>

            <div>

                <img class="estandar-img-icon" src="/img_icons/cortado2.png" alt="" srcset="">

            </div>
            <div>

                <img  class="estandar-img-icon" src="/img_icons/cortado1.png" alt="" srcset="">

            </div>

        </div>

    </div>


</section>