#presentacion {
    height: 70vh;
    width: 100%;
    background-color: var(--azul-oscuro);
    display: flex;
}

aside {
    height: 100%;
    width: 50%;
    padding: 8% 0% 0% 5%;
}

#aside-imagen {
    height: 100%;
    width: 50%;
    background-image: url('../../../public/images/inicio.jpg');
    background-size: cover;
    background-position: center;
}

aside h1 {
    font-size: 4rem;
    color: var(--blanco);
    font-family: var(--letra-principal);
}

aside h2 {
    font-size: 2rem;
    color: var(--blanco);
    font-family: var(--letra-principal);
}

/*--------------------------------------------------------------*/
#que-es-gecosst {
    height: 50vh;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#que-es-gecosst h1 {
    font-size: 3rem;
    color: var(--azul-oscuro);
    font-family: var(--letra-principal);
}

/*--------------------------------------------------------------*/
#empresas-aliadas {
    height: 50vh;
    width: 100%;
    padding: 4vh 0 0 0;
    text-align: center;
    background-color: rgb(113, 170, 32);
}

#carouselExample{
    height: 50%;
    width: 50%;
    margin: 0 auto;
}
.carousel-item{
    margin-top: 2%;
    
}
.estandar-img-alianza {
    height: 30vh;
    width: 70% !important;
    border-radius: 20px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*----------------------------------------------------------------------*/

#features{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    grid-template-rows: repeat(3, 2fr);
    background-color: var(--grises);
}

#features h1{
    padding: 5vh 0 0 0 ;
    grid-column: 1/ 6;
    text-align: center;
    grid-row: 1 / 1;
    font-size: 4rem;
    color: var(--azul-oscuro);
    font-family: var(--letra-principal);
    background-color: aqua;
}

.card{
    height: 35vh;
    width: 80%;
    background-color: var(--azul-principal);
    border-radius: 20px;
    margin-bottom: 4vh;
    margin-left: 10%;
}

.card-1{

    grid-column: 2 / 2;
    grid-row: 2 / 3;
    
}
.card-2{

    grid-column: 3 / 3;
    grid-row: 2 / 3;
    
}
.card-3{

    grid-column: 4 / 4;
    grid-row: 2/ 3;
    
}
.card-4{

    grid-column: 2 / 2;
    grid-row: 3 / 3;
    
}
.card-5{

    grid-column: 4 / 4;
    grid-row: 3 / 3;
    
}

.card:hover{
    
    transition: all 0.5s ease-in-out;
    scale: 1.1;
    transform: translateY(-5%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
